In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse', 'friedman_mse','mae'],
              'splitter':['best', 'random'],
              'max_features':['auto', 'sqrt', 'log2']} 

grid=GridSearchCV(DecisionTreeRegressor(),param_grid, refit = True, verbose=3, n_jobs=-1)



grid.fit(independent,dependent)

C:\Users\MANIKA\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   13.6s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   16.1s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'friedman_mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
re=grid.cv_results_

In [16]:


print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'random'}:

In [17]:

table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008704,0.000959,0.004702,0.003794,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.699160,0.658665,0.700050,0.685958,0.019303,7
1,0.006926,0.003637,0.006027,0.002832,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.627736,0.709470,0.702887,0.680031,0.037076,9
2,0.002022,0.000001,0.012067,0.005686,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.652279,0.736268,0.679008,0.689185,0.035036,6
3,0.002032,0.000015,0.002674,0.003781,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.641284,0.688217,0.659449,0.662983,0.019322,11
4,0.006701,0.003410,0.006036,0.002841,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.730381,0.738868,0.641317,0.703522,0.044122,2
5,0.001347,0.000952,0.003349,0.004736,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.603614,0.595793,0.639943,0.613116,0.019236,16
6,0.004022,0.002834,0.006704,0.003417,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.709438,0.652891,0.711100,0.691143,0.027057,4
7,0.004026,0.004341,0.006706,0.009483,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.687431,0.655592,0.711955,0.684993,0.023075,8
8,0.004022,0.004336,0.013403,0.012526,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.558066,0.344897,0.686235,0.529733,0.140783,18
9,0.003119,0.003092,0.004961,0.003541,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.651992,0.697562,0.545033,0.631529,0.063929,13
10,0.006040,0.004348,0.004021,0.004340,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.607615,0.688706,0.741013,0.679111,0.054880,10
11,0.016132,0.016233,0.004073,0.004406,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.630480,0.669448,0.539581,0.613170,0.054413,15
12,0.061320,0.002066,0.003616,0.003369,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.693365,0.728773,0.671059,0.697732,0.023763,3
13,0.054342,0.008568,0.004032,0.004353,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.696044,0.714632,0.713846,0.708174,0.008583,1
14,0.034885,0.012702,0.010053,0.014218,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.538336,0.647515,0.701741,0.629198,0.067955,14
15,0.022110,0.000013,0.006698,0.009473,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.643908,0.671692,0.756194,0.690598,0.047750,5
16,0.022114,0.000026,0.020119,0.014269,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.679928,0.607256,0.677835,0.655006,0.033775,12
17,0.024111,0.005676,0.002674,0.003782,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.453156,0.693416,0.618644,0.588406,0.100389,17

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:50
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[28340.18885]