In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:


dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [14]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
para_grid={'criterion':['mse', 'mae','friedman_mse'],
           'max_features':['sqrt','log2'],
           'n_estimators':[100,1000,2000,3000]}

grid=GridSearchCV(RandomForestRegressor(), para_grid, refit=True, verbose = 3, n_jobs=-1)


grid.fit(independent,dependent)

Fitting 3 folds for each of 24 candidates, totalling 72 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:  6.5min finished
C:\Users\MANIKA\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [100, 1000, 2000, 3000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [15]:
re=grid.cv_results_

In [16]:


print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 2000}:

In [17]:

table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.572782,0.053103,0.036450,1.948302e-02,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.843566,0.832994,0.817803,0.831454,0.010574,21
1,4.884271,0.117824,0.322841,1.948332e-02,mse,sqrt,1000,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.843924,0.837557,0.818883,0.833455,0.010627,11
2,9.825819,0.066276,0.619647,3.681994e-02,mse,sqrt,2000,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.843907,0.836615,0.818024,0.832849,0.010897,18
3,14.418492,0.077584,0.906038,2.550958e-02,mse,sqrt,3000,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.844435,0.837875,0.818357,0.833556,0.011076,7
4,0.551954,0.019484,0.020829,7.364403e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.840438,0.834155,0.816399,0.830331,0.010180,24
5,4.889478,0.051019,0.343669,2.209203e-02,mse,log2,1000,"{'criterion': 'mse', 'max_features': 'log2', '...",0.845120,0.836780,0.818767,0.833556,0.010998,6
6,9.897371,0.064198,0.640475,2.550997e-02,mse,log2,2000,"{'criterion': 'mse', 'max_features': 'log2', '...",0.844666,0.838728,0.818068,0.833821,0.011400,2
7,14.447244,0.216722,0.827931,2.550909e-02,mse,log2,3000,"{'criterion': 'mse', 'max_features': 'log2', '...",0.844306,0.836839,0.818042,0.833062,0.011050,17
8,2.690188,0.017398,0.031243,2.209152e-02,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.843546,0.835004,0.818560,0.832370,0.010369,20
9,26.398760,0.101232,0.281184,5.150430e-07,mae,sqrt,1000,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.842443,0.836060,0.821912,0.833471,0.008579,9
10,52.755330,0.215559,0.578496,2.551936e-02,mae,sqrt,2000,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.842884,0.836330,0.821803,0.833672,0.008809,4
11,81.110174,1.996937,0.942537,1.143692e-01,mae,sqrt,3000,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.842882,0.836136,0.821865,0.833628,0.008761,5
12,2.707698,0.072526,0.015621,1.946680e-07,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.837327,0.836328,0.820388,0.831347,0.007760,22
13,28.486892,1.558223,0.325299,2.313123e-02,mae,log2,1000,"{'criterion': 'mae', 'max_features': 'log2', '...",0.842415,0.836264,0.821194,0.833291,0.008915,14
14,60.182821,0.127803,0.622219,8.889894e-03,mae,log2,2000,"{'criterion': 'mae', 'max_features': 'log2', '...",0.842307,0.835480,0.821575,0.833121,0.008627,16
15,90.210197,1.651062,1.179548,1.161821e-01,mae,log2,3000,"{'criterion': 'mae', 'max_features': 'log2', '...",0.842393,0.834895,0.822298,0.833196,0.008291,15
16,0.520516,0.010133,0.043987,2.036533e-02,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.843140,0.835396,0.818698,0.832411,0.010199,19
17,5.053758,0.259999,0.307906,2.770038e-02,friedman_mse,sqrt,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.844133,0.837191,0.818999,0.833441,0.010598,12
18,10.844280,0.988326,0.697200,8.519346e-03,friedman_mse,sqrt,2000,"{'criterion': 'friedman_mse', 'max_features': ...",0.844994,0.838469,0.818511,0.833991,0.011266,1
19,18.054749,0.294709,1.155318,7.981254e-02,friedman_mse,sqrt,3000,"{'criterion': 'friedman_mse', 'max_features': ...",0.844113,0.837158,0.818645,0.833306,0.010748,13
20,0.602407,0.038945,0.017508,1.394811e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.842164,0.835325,0.816449,0.831313,0.010875,23
21,6.343378,0.261224,0.425863,5.712345e-02,friedman_mse,log2,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.844627,0.837546,0.819046,0.833740,0.010785,3
22,12.809459,0.174177,0.692524,5.249672e-02,friedman_mse,log2,2000,"{'criterion': 'friedman_mse', 'max_features': ...",0.844087,0.837646,0.818677,0.833470,0.010785,10
23,14.778559,1.619312,0.905388,7.172012e-02,friedman_mse,log2,3000,"{'criterion': 'friedman_mse', 'max_features': ...",0.844545,0.837512,0.818504,0.833520,0.010999,8

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:23
BMI:30
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [20]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[26921.51935756]