In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
param_grid = { 'n_estimators':[50,100,500,1000],'loss':['linear', 'square', 'exponential']} 


grid = GridSearchCV(AdaBoostRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 


grid.fit(independent,dependent)

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   20.6s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   28.2s finished
C:\Users\MANIKA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=AdaBoostRegressor(base_estimator=None, learning_rate=1.0,
                                         loss='linear', n_estimators=50,
                                         random_state=None),
             iid='warn', n_jobs=-1,
             param_grid={'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [50, 100, 500, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:

re=grid.cv_results_

In [12]:
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'loss': 'linear', 'n_estimators': 50}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:

table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.317634,0.132756,0.010416,7.364965e-03,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.827616,0.814105,0.827032,0.822918,0.006236,1
1,0.140593,0.088367,0.020829,1.948285e-02,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.781491,0.817498,0.813352,0.804114,0.016086,4
2,0.098936,0.032098,0.000000,0.000000e+00,linear,500,"{'loss': 'linear', 'n_estimators': 500}",0.798948,0.813764,0.813823,0.808845,0.006998,3
3,0.057279,0.007364,0.005207,7.364347e-03,linear,1000,"{'loss': 'linear', 'n_estimators': 1000}",0.822972,0.797447,0.819575,0.813331,0.011317,2
4,0.177042,0.019483,0.015621,3.371748e-07,square,50,"{'loss': 'square', 'n_estimators': 50}",0.525278,0.526636,0.543373,0.531763,0.008229,7
5,0.291599,0.032098,0.031243,2.209186e-02,square,100,"{'loss': 'square', 'n_estimators': 100}",0.512444,0.496382,0.520561,0.509796,0.010047,8
6,1.817282,0.070249,0.166628,1.948364e-02,square,500,"{'loss': 'square', 'n_estimators': 500}",0.485799,0.463644,0.488608,0.479351,0.011165,11
7,3.634391,0.052336,0.275271,1.931893e-02,square,1000,"{'loss': 'square', 'n_estimators': 1000}",0.489401,0.449846,0.468892,0.469380,0.016152,12
8,0.286391,0.007364,0.020829,1.948325e-02,exponential,50,"{'loss': 'exponential', 'n_estimators': 50}",0.609154,0.565606,0.613672,0.596144,0.021673,5
9,0.444047,0.031496,0.046864,2.550900e-02,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.559006,0.501874,0.554633,0.538504,0.025963,6
10,1.983910,0.045987,0.171834,2.550958e-02,exponential,500,"{'loss': 'exponential', 'n_estimators': 500}",0.510937,0.442119,0.517621,0.490225,0.034126,9
11,3.441901,0.164003,0.218698,4.598739e-02,exponential,1000,"{'loss': 'exponential', 'n_estimators': 1000}",0.513684,0.437905,0.510699,0.487429,0.035040,10

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:40
BMI:45
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[45044.99715867]