In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor
param_grid ={'loss':[ 'huber', 'quantile'],
            'n_estimators':[100,500,1000,1500],
         'criterion':['friedman_mse', 'mse']}

grid=GridSearchCV(GradientBoostingRegressor(),param_grid, refit = True, verbose=3, n_jobs=-1)



grid.fit(independent,dependent)

Fitting 3 folds for each of 16 candidates, totalling 48 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   35.5s
[Parallel(n_jobs=-1)]: Done  48 out of  48 | elapsed:   57.2s finished
C:\Users\MANIKA\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=GradientBoostingRegressor(alpha=0.9,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100,
                                                 n_iter_no_change=None,
                                                 presort='auto',
                                                 random_state=None,
                                                 subsample=1.0, tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'mse'],
                         'loss': ['huber', 'quantile'],
                         'n_estimators': [100, 500, 1000, 1500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [14]:

re=grid.cv_results_

In [15]:
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'loss': 'huber', 'n_estimators': 100}:

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:

table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.567575,0.051548,0.005207,7.364010e-03,friedman_mse,huber,100,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.868231,0.855333,0.839178,0.854247,0.011885,1
1,2.651028,0.014727,0.010414,7.363897e-03,friedman_mse,huber,500,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.844949,0.841371,0.825008,0.837109,0.008681,4
2,5.144012,0.088655,0.046864,2.209186e-02,friedman_mse,huber,1000,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.825716,0.828673,0.818751,0.824380,0.004159,6
3,7.461836,0.110662,0.031242,2.209130e-02,friedman_mse,huber,1500,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.819567,0.805662,0.814220,0.813150,0.005727,7
4,0.432191,0.019484,0.000000,0.000000e+00,friedman_mse,quantile,100,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.614074,0.547086,0.669612,0.610257,0.050094,15
5,1.705724,0.074361,0.015623,7.867412e-07,friedman_mse,quantile,500,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.641052,0.548402,0.687940,0.625798,0.057979,12
6,3.150302,0.230057,0.010414,7.363560e-03,friedman_mse,quantile,1000,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.660965,0.548372,0.677058,0.628798,0.057249,11
7,4.716509,0.377172,0.032880,1.480346e-02,friedman_mse,quantile,1500,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.657734,0.547137,0.683480,0.629450,0.059146,9
8,0.572783,0.007364,0.005207,7.364010e-03,mse,huber,100,"{'criterion': 'mse', 'loss': 'huber', 'n_estim...",0.868055,0.855337,0.839178,0.854190,0.011817,2
9,2.734670,0.010768,0.038618,2.358490e-02,mse,huber,500,"{'criterion': 'mse', 'loss': 'huber', 'n_estim...",0.844673,0.841910,0.825869,0.837484,0.008290,3
10,5.040250,0.088116,0.041657,1.948285e-02,mse,huber,1000,"{'criterion': 'mse', 'loss': 'huber', 'n_estim...",0.827835,0.830085,0.817877,0.825266,0.005305,5
11,7.537611,0.060277,0.052071,2.655094e-02,mse,huber,1500,"{'criterion': 'mse', 'loss': 'huber', 'n_estim...",0.816374,0.802864,0.814941,0.811393,0.006059,8
12,0.427937,0.027504,0.001330,1.880311e-03,mse,quantile,100,"{'criterion': 'mse', 'loss': 'quantile', 'n_es...",0.606071,0.546762,0.666691,0.606508,0.048962,16
13,1.718347,0.077584,0.020828,1.948274e-02,mse,quantile,500,"{'criterion': 'mse', 'loss': 'quantile', 'n_es...",0.633759,0.548649,0.685522,0.622643,0.056428,14
14,3.223202,0.106206,0.031242,2.209085e-02,mse,quantile,1000,"{'criterion': 'mse', 'loss': 'quantile', 'n_es...",0.653294,0.547396,0.686020,0.628903,0.059163,10
15,3.884506,0.229704,0.015620,1.744787e-06,mse,quantile,1500,"{'criterion': 'mse', 'loss': 'quantile', 'n_es...",0.649067,0.548140,0.675019,0.624075,0.054730,13

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:40
Children:3
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[44633.96099481]